.title{
	text-align: center;
}

.title h2{
	font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.navbar{
	position: absolute;
	width: 100%;
	z-index: 9;
}

.nav-link{
	color: #fff!important;
}

@media only screen and (max-width: 768px){
	.navbar-nav{
		background: #fff;
		padding: 13px;
		border-radius: 13px;
		color: #333;
		-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.22);
		-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.22);
		box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.22);
	}
	.nav-link{
		color: #000!important;
	}
}

/*--banner*/

#banner{
	padding: 130px 0 130px 0;
	background-image: linear-gradient(to right top, #33af7c, #33af7c, #33af7c, #33af7c, #33af7c);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
}

@media only screen and (max-width: 768px){
	#banner{
		padding: 80px 0 130px 0;
	}
}

.banner-text{
	color: #fff;
}

.banner-text h2{
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 400;
}

.banner-text h1{
	font-size: 34px;
	margin-bottom: 10px;
}

.banner-text p{
	line-height: 25px;
	margin-bottom: 10px;
	font-weight: 400;
}

@media only screen and (max-width: 768px){
	.banner-image img{
		width: 100%;
	}

	.banner-text{
		margin-bottom: 20px;
	}

	#banner-image img{
		padding: 80px 0 130px 0;
	}
}

.banner-button{
	background: #fff;
	color:#22a6ba;
	border-radius: 4px;
	padding: 10px 20px;
}

/*--Partners*/
#partners{
	padding: 50px 0;
}

.carousel-image {
	width: 250px;
	height: 150px;
	width: 250px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 5px;
}

.carousel-image img{
	width: 100%;
	height: 100%;
}

/*--features*/

#features{
	position: relative;
	overflow: hidden;
}

.vline{
	height: 100pc;
	border-left: 2px dotted #33af7c;
	position: absolute;
	left: 50%;
}

.vlineinner{
	position: relative;
	height: 100pc;
}

.vone,
.vtwo,
.vthree{
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #33af7c;
	border:2px solid #33af7c;
	left: -11px;
}

.vtwo{
	top: 500px;
}

.vthree{
	bottom: 256px;
}

.feature-image{
	height: 300px;
	max-width: 500px;
	margin: 0 25px;
}

.feature-text{
	margin: 0 25px;
}

@media only screen and (max-width: 768px){
	.feature-image{
		width:100%;
		margin-bottom: 10px;
	}

	.vline{
		display: none;
	}
}

.feature-image img{
	width: 100%;
	height: 100%;
}

.feature-text h1{
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}

.feature-text p{
	font-size: 16px;
	line-height: 25px;
	text-align: justify;
}

/*--roadmap*/
.line{
	display: block;
	width: 100%;
	position: relative;
	border-bottom: 2px dotted #33af7c;
	margin-bottom: 30px;
}

.line .one {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    border:2px solid #33af7c;
    top: -9px;
    left: 0;
}

.line .two {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    border:2px solid #33af7c;
    top: -9px;
    left: 34.33%;
}

.line .three {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    border:2px solid #33af7c;
    top: -9px;
    left: 68.33%;
}

#roadmap{
	padding: 50px 0px;
}

.roadmap-block .roadmap-img{
	margin-bottom: 20px;
}

.roadmap-block .roadmap-text h1{
	margin-bottom: 10px;
	font-weight: 700;
}

.roadmap-block .roadmap-text p{
	margin-bottom: 10px;
	line-height: 25px;
	text-align: justify;
}

/*--article*/
.article-img{
	margin-bottom: 10px;
	height: 300px;
	width: 300px;
}

@media only screen and (max-width: 768px){
	.article-img{
		width: 100%;
	}
	.line{
		display: none;
	}
}

.article-img img{
	height: 100%;
	width: 100%;
}

.article-text h1{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}

.article-text p{
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 20px;
}

.article-writer .writer-img{
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	vertical-align: middle;
}

.article-writer .writer-name{
	display: inline-block;
	vertical-align: middle;
}

/*--register*/
#register{
	text-align: center;
	padding: 50px 0;
	position: relative;
}

#register img{
	width: 150px;
	margin-bottom: 20px;
}

#register h1{
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 10px;
}

#register h2{
	font-size: 16px;
	margin-bottom: 20px;
}

.register-button{
	background: #33af7c;
	color: #fff;
	font-size: 14px;
	padding: 10px 30px;
}

.newsletter-img{
	position: absolute;
	z-index: 9999;
	bottom: -90px;
	left: 175px;
}

.newsletter-img img{
	width: 60px!important;
	margin-bottom: 0!important;
}

@media only screen and (max-width: 768px){
	.newsletter-img{
		bottom: -130px;
		left: 243px;
	}
}

/*--newsletter*/

#newsletter{
	text-align: center;
	background-color: #232020;
	color: #fff;
	padding: 50px 0;
	padding-top: 60px;
	-webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
}

.newsletter-form{
	display: inline-block;
}

.newsletter-form .form-control{
	background: transparent;
}

.newsletter-wrapper{
	position: relative;
}

/*--footer*/

#footer{
	background-color: #232020;
	padding: 50px 0;
	color: #fff;
	border-top: 1px solid #333;
}

.footer-block p{
	letter-spacing: 1px;
	line-height: 25px;
	font-weight: 400;
}

.footer-block h2{
	margin-bottom: 20px;
	font-weight: 700;
	letter-spacing: 2px;
}

.footer-items li{
	padding-bottom: 10px;
	font-size: 14px;
}